/*
*   公式
*/
/**************************************************************/
/**************** color  ************************/
/**************************************************************/
.bg-primary {
  background-color: #2d8cf0;
}
.bg-lighten-primary {
  background-color: #5cadff;
}
.bg-darken-primary {
  background-color: #2b85e4;
}
.color-white {
  color: #ffffff;
}
.color-red {
  color: #ff0000;
}
.color-lighten-red {
  color: #ff3333;
}
.color-lightener-red {
  color: #ff6666;
}
.color-lightener-primary {
  color: #8cc0f7;
}
