/*
*   公式
*/
/**************************************************************/
/**************** color  ************************/
/**************************************************************/
.bg-primary {
  background-color: #2d8cf0;
}
.bg-light-primary {
  background-color: #5cadff;
}
.bg-dark-primary {
  background-color: #2b85e4;
}
.color-white {
  color: #ffffff;
}
