/*
*   公式
*/
/**************************************************************/
/**************** color  ************************/
/**************************************************************/
@primary: #2d8cf0;
@light-primary: #5cadff;
@dark-primary: #2b85e4;

@info: #2d8cf0;
@success: #19be6b;
@warning: #ff9900;
@error: #ed3f14;


@white: #ffffff;
@black: #000000;
@red: #ff0000;




.darken(@color){
  color: darken(@color,10%);
}
.darkener(@color){
  color: darken(@color,20%);
}
.darkenest(@color){
  color: darken(@color,30%);
}

.lighten(@color){
  color: lighten(@color,10%);
}
.lightener(@color){
  color: lighten(@color,20%);
}
.lightenest(@color){
  color: lighten(@color,30%);
}





.bg-darken(@color){
  background-color: darken(@color,10%);
}
.bg-darkener(@color){
  background-color: darken(@color,20%);
}
.bg-darkenest(@color){
  background-color: darken(@color,30%);
}
.bg-lighten(@color){
  background-color: lighten(@color,10%);
}
.bg-lightener(@color){
  background-color: lighten(@color,20%);
}
.bg-lightenest(@color){
  background-color: lighten(@color,30%);
}

.border-color(@color){
  border-color: @color;
}

.bg-silver{
  background-color: silver;
}

.bg-primary{
  background-color: @primary;
}
.bg-lighten-primary{
  background-color: @light-primary;
}
.bg-darken-primary{
  background-color: @dark-primary;
}

bg-color-lightener-black{
  .bg-lightener(@black)
}






/*        iview basic color     */
.color-error{
  color:@error
}
.color-info{
  color:@info
}
.color-success{
  color:@success
}
.color-warning{
  color:@warning
}
/*        self define color     */
.color-white{
  color:@white;
}
.color-red{
  color:@red;
}

.color-lighten-red{
  .lighten(@red)
}
.color-lightener-red{
  .lightener(@red)
}

.color-lightener-primary{
  .lightener(@primary)
}

color-lightener-black{
  .lightener(@black)
}


.border-color-grey{
  border-color: #333333;
}


