body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.font_serif {
  font-family: Serif;
}
.font_monospace {
  font-family: monospace;
}
.font_fantasy {
  font-family: fantasy;
}
.font_cursive {
  font-family: cursive;
}
.long_word_break {
  word-break: break-all;
  word-wrap: break-word;
}
.page_bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#fffff0), to(#ffffe8));
  background: linear-gradient(to bottom, #fffff0, #ffffe8);
}
.page_ele_bg {
  background-color: #fafafa;
}
.page_border {
  border-radius: 5px;
  border: 1px solid #d0d0d0 ;
}
.line-break {
  word-break: break-all;
  /*for long englis word*/
  word-wrap: break-word;
}
.spinner-midpoint {
  top: 50%;
  left: 50%;
  position: relative;
  height: 60px;
  width: 120px;
  margin: 0px ;
}
.top {
  vertical-align: top;
}
.center {
  text-align: center;
}
.auto_center {
  margin-left: auto;
  margin-right: auto;
}
.readonly {
  border: none;
  opacity: 1;
  color: black;
}
/*
*   finance only
*/
aside > div > span:first-of-type {
  margin-top: 20px;
}
aside > div > span:not(:first-of-type) {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* 上下较紧凑的page-header */
.page-header-narrow {
  padding-bottom: 9px;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
}
/*           font size             */
.font_size_1 {
  font-size: 16px;
}
.font_size_2 {
  font-size: 18px;
}
.font_size_3 {
  font-size: 20px;
}
.font_size_4 {
  font-size: 22px;
}
/*
*   公式
*/
/**************************************************************/
/**************** margin and padding ************************/
/**************************************************************/
.height1 {
  height: 5px;
}
.height2 {
  height: 10px;
}
.height3 {
  height: 15px;
}
.height4 {
  height: 20px;
}
.height5 {
  height: 25px;
}
.height6 {
  height: 30px;
}
.height7 {
  height: 35px;
}
.height8 {
  height: 40px;
}
.marginL_1 {
  margin-left: 5px;
}
.marginL_2 {
  margin-left: 10px;
}
.marginL_3 {
  margin-left: 15px;
}
.marginL_4 {
  margin-left: 20px;
}
.marginL_5 {
  margin-left: 25px;
}
.marginL_6 {
  margin-left: 30px;
}
.marginL_7 {
  margin-left: 35px;
}
.marginL_X {
  margin-left: 100px;
}
.marginL_-7 {
  margin-left: -35px;
}
.marginL_-14 {
  margin-left: -70px;
}
.marginR_1 {
  margin-right: 5px;
}
.marginR_2 {
  margin-right: 10px;
}
.marginR_3 {
  margin-right: 15px;
}
.marginR_4 {
  margin-right: 20px;
}
.marginR_5 {
  margin-right: 25px;
}
.marginR_6 {
  margin-right: 30px;
}
.marginR_7 {
  margin-right: 35px;
}
.marginR_X {
  margin-right: 100px;
}
.marginT_1 {
  margin-top: 5px;
}
.marginT_2 {
  margin-top: 10px;
}
.marginT_3 {
  margin-top: 15px;
}
.marginT_4 {
  margin-top: 20px;
}
.marginT_5 {
  margin-top: 25px;
}
.marginT_6 {
  margin-top: 30px;
}
.marginT_7 {
  margin-top: 35px;
}
.marginT_X {
  margin-top: 100px;
}
.marginB_1 {
  margin-bottom: 5px;
}
.marginB_2 {
  margin-bottom: 10px;
}
.marginB_3 {
  margin-bottom: 15px;
}
.marginB_4 {
  margin-bottom: 20px;
}
.marginB_5 {
  margin-bottom: 25px;
}
.marginB_6 {
  margin-bottom: 30px;
}
.marginB_7 {
  margin-bottom: 35px;
}
.marginB_X {
  margin-bottom: 100px;
}
.marginV_1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.marginV_2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.marginV_3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.marginV_4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.marginV_5 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.marginV_6 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.marginV_7 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.marginV_X {
  margin-top: 100px;
  margin-bottom: 100px;
}
.marginH_1 {
  margin-left: 5px;
  margin-right: 5px;
}
.marginH_2 {
  margin-left: 10px;
  margin-right: 10px;
}
.marginH_3 {
  margin-left: 15px;
  margin-right: 15px;
}
.marginH_4 {
  margin-left: 20px;
  margin-right: 20px;
}
.marginH_5 {
  margin-left: 25px;
  margin-right: 25px;
}
.marginH_6 {
  margin-left: 30px;
  margin-right: 30px;
}
.marginH_7 {
  margin-left: 35px;
  margin-right: 35px;
}
.marginH_X {
  margin-left: 100px;
  margin-right: 100px;
}
.paddingL_1 {
  padding-left: 5px;
}
.paddingL_2 {
  padding-left: 10px;
}
.paddingL_3 {
  padding-left: 15px;
}
.paddingL_4 {
  padding-left: 20px;
}
.paddingL_5 {
  padding-left: 25px;
}
.paddingL_6 {
  padding-left: 30px;
}
.paddingL_7 {
  padding-left: 35px;
}
.paddingL_X {
  padding-left: 100px;
}
.paddingR_1 {
  padding-right: 5px;
}
.paddingR_2 {
  padding-right: 10px;
}
.paddingR_3 {
  padding-right: 15px;
}
.paddingR_4 {
  padding-right: 20px;
}
.paddingR_5 {
  padding-right: 25px;
}
.paddingR_6 {
  padding-right: 30px;
}
.paddingR_7 {
  padding-right: 35px;
}
.paddingR_X {
  padding-right: 100px;
}
.paddingT_1 {
  padding-top: 5px;
}
.paddingT_2 {
  padding-top: 10px;
}
.paddingT_3 {
  padding-top: 15px;
}
.paddingT_4 {
  padding-top: 20px;
}
.paddingT_5 {
  padding-top: 25px;
}
.paddingT_6 {
  padding-top: 30px;
}
.paddingT_7 {
  padding-top: 35px;
}
.paddingT_X {
  padding-top: 100px;
}
.paddingB_1 {
  padding-bottom: 5px;
}
.paddingB_2 {
  padding-bottom: 10px;
}
.paddingB_3 {
  padding-bottom: 15px;
}
.paddingB_4 {
  padding-bottom: 20px;
}
.paddingB_5 {
  padding-bottom: 25px;
}
.paddingB_6 {
  padding-bottom: 30px;
}
.paddingB_7 {
  padding-bottom: 35px;
}
.paddingB_X {
  padding-bottom: 100px;
}
.paddingV_1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.paddingV_2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.paddingV_3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.paddingV_4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingV_5 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.paddingV_6 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.paddingV_7 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.paddingV_X {
  padding-top: 100px;
  padding-bottom: 100px;
}
.paddingH_1 {
  padding-left: 5px;
  padding-right: 5px;
}
.paddingH_2 {
  padding-left: 10px;
  padding-right: 10px;
}
.paddingH_3 {
  padding-left: 15px;
  padding-right: 15px;
}
.paddingH_4 {
  padding-left: 20px;
  padding-right: 20px;
}
.paddingH_5 {
  padding-left: 25px;
  padding-right: 25px;
}
.paddingH_6 {
  padding-left: 30px;
  padding-right: 30px;
}
.paddingH_7 {
  padding-left: 35px;
  padding-right: 35px;
}
.paddingH_X {
  padding-left: 100px;
  padding-right: 100px;
}
.delete-padding-1 {
  margin-left: -15px;
}
.delete-padding-2 {
  margin-left: -30px;
}
.delete-padding-3 {
  margin-left: -45px;
}
/**************************************************************/
/**************** radius ************************/
/**************************************************************/
.radius0 {
  border-radius: 0px;
}
.radius1 {
  border-radius: 2px;
}
.radius2 {
  border-radius: 4px;
}
.radius3 {
  border-radius: 6px;
}
.radius4 {
  border-radius: 8px;
}
.radius5 {
  border-radius: 10px;
}
.radius6 {
  border-radius: 12px;
}
.radius7 {
  border-radius: 14px;
}
.top-left-radius0 {
  border-top-left-radius: 0px;
}
.top-left-radius1 {
  border-top-left-radius: 2px;
}
.top-left-radius2 {
  border-top-left-radius: 4px;
}
.top-left-radius3 {
  border-top-left-radius: 6px;
}
.top-left-radius4 {
  border-top-left-radius: 8px;
}
.top-left-radius5 {
  border-top-left-radius: 10px;
}
.top-left-radius6 {
  border-top-left-radius: 12px;
}
.top-left-radius7 {
  border-top-left-radius: 14px;
}
.top-right-radius0 {
  border-top-right-radius: 0px;
}
.top-right-radius1 {
  border-top-right-radius: 2px;
}
.top-right-radius2 {
  border-top-right-radius: 4px;
}
.top-right-radius3 {
  border-top-right-radius: 6px;
}
.top-right-radius4 {
  border-top-right-radius: 8px;
}
.top-right-radius5 {
  border-top-right-radius: 10px;
}
.top-right-radius6 {
  border-top-right-radius: 12px;
}
.top-right-radius7 {
  border-top-right-radius: 14px;
}
.bottom-left-radius0 {
  border-bottom-left-radius: 0px;
}
.bottom-left-radius1 {
  border-bottom-left-radius: 2px;
}
.bottom-left-radius2 {
  border-bottom-left-radius: 4px;
}
.bottom-left-radius3 {
  border-bottom-left-radius: 6px;
}
.bottom-left-radius4 {
  border-bottom-left-radius: 8px;
}
.bottom-left-radius5 {
  border-bottom-left-radius: 10px;
}
.bottom-left-radius6 {
  border-bottom-left-radius: 12px;
}
.bottom-left-radius7 {
  border-bottom-left-radius: 14px;
}
.bottom-right-radius0 {
  border-bottom-right-radius: 0px;
}
.bottom-right-radius1 {
  border-bottom-right-radius: 2px;
}
.bottom-right-radius2 {
  border-bottom-right-radius: 4px;
}
.bottom-right-radius3 {
  border-bottom-right-radius: 6px;
}
.bottom-right-radius4 {
  border-bottom-right-radius: 8px;
}
.bottom-right-radius5 {
  border-bottom-right-radius: 10px;
}
.bottom-right-radius6 {
  border-bottom-right-radius: 12px;
}
.bottom-right-radius7 {
  border-bottom-right-radius: 14px;
}
/**************************************************************/
/**************** border ************************/
/**************************************************************/
.border1 {
  border: thin dashed black;
}
.cursor_pointer {
  cursor: pointer;
}
/*
**********************************************************
*******************  auto complete   *********************
**********************************************************
*/
.ac-container {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 999;
}
.ac-container .ac-menu {
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  background-color: white;
  -webkit-box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item {
  border-bottom: 0px dotted #ccc;
  line-height: 25px;
  margin: 0;
  padding: 0 20px;
}
.ac-container .ac-menu .ac-menu-item:last-child {
  border-bottom: 0;
}
.ac-container .ac-menu .ac-menu-item:hover {
  background-color: #e0eaff;
}
.ac-container .ac-menu a {
  padding-left: 5px;
  display: block;
  color: inherit;
  text-decoration: none;
}
.ac-container .ac-menu .ac-state-focus {
  outline: none;
  background-color: #e0eaff;
}
/*
**********************************************************
*******************  finance   ***************************
**********************************************************
*/
/*
* 从bootstrap.css中copy出。因为import不起作用
*/
.bg-primary {
  color: #fff;
  background-color: #428bca;
}
.bg-warning {
  background-color: #fcf8e3;
}
/*
* 只有less才能把class作为内容引用，css不行（css只能设置属性）
*/
.tabBorder {
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
.content-border {
  border: 1px solid silver;
}
.aside-hover-choosen {
  color: #fff;
  background-color: #428bca;
}
#navbar span:hover {
  color: #fff;
  background-color: #428bca;
}
#configuration > span:hover,
#bill > span:hover {
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  cursor: pointer;
}
#configuration > span.activate,
#bill > span.activate {
  background: -moz-linear-gradient(#ffffff, #fdfdfd);
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  -webkit-box-shadow: 2px 0px 0px 0px silver;
          box-shadow: 2px 0px 0px 0px silver;
}
.activeQueryValue > span.fa {
  color: transparent;
}
.activeQueryValue:hover > span.fa {
  color: red;
}
/*    为了计算当前内容，以便决定footer的位置
*     直接使用col-lg-12，因为是float，无法获得内容的高度，所以新设no-float
*/
.col-lg-12-no-float,
.col-lg-4-no-float,
.col-md-12-no-float,
.col-sm-12-no-float,
.col-xs-12-no-float {
  width: 100%;
  padding: 0 15px;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
