body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.font_serif {
  font-family: Serif;
}
.font_monospace {
  font-family: monospace;
}
.font_fantasy {
  font-family: fantasy;
}
.font_cursive {
  font-family: cursive;
}
.long-word-break {
  word-break: break-all;
  word-wrap: break-word;
}
.page_bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#fffff0), to(#ffffe8));
  background: linear-gradient(to bottom, #fffff0, #ffffe8);
}
.page_ele_bg {
  background-color: #fafafa;
}
.page_border {
  border-radius: 5px;
  border: 1px solid #d0d0d0 ;
}
.line-break {
  word-break: break-all;
  /*for long englis word*/
  word-wrap: break-word;
}
.spinner-midpoint {
  top: 50%;
  left: 50%;
  position: relative;
  height: 60px;
  width: 120px;
  margin: 0px ;
}
.top {
  vertical-align: top;
}
.center {
  text-align: center;
}
.auto_center {
  margin-left: auto;
  margin-right: auto;
}
.readonly {
  border: none;
  opacity: 1;
  color: black;
}
/*
*   finance only
*/
aside > div > span:first-of-type {
  margin-top: 20px;
}
aside > div > span:not(:first-of-type) {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* 上下较紧凑的page-header */
.page-header-narrow {
  padding-bottom: 9px;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
}
/*           font size             */
.font_size_1 {
  font-size: 16px;
}
.font_size_2 {
  font-size: 18px;
}
.font_size_3 {
  font-size: 20px;
}
.font_size_4 {
  font-size: 22px;
}
/*
*   公式
*/
/**************************************************************/
/**************** margin and padding ************************/
/**************************************************************/
.height1 {
  height: 5px;
}
.height2 {
  height: 10px;
}
.height3 {
  height: 15px;
}
.height4 {
  height: 20px;
}
.height5 {
  height: 25px;
}
.height6 {
  height: 30px;
}
.height7 {
  height: 35px;
}
.height8 {
  height: 40px;
}
.marginL1 {
  margin-left: 5px;
}
.marginL2 {
  margin-left: 10px;
}
.marginL3 {
  margin-left: 15px;
}
.marginL4 {
  margin-left: 20px;
}
.marginL5 {
  margin-left: 25px;
}
.marginL6 {
  margin-left: 30px;
}
.marginL7 {
  margin-left: 35px;
}
.marginLX {
  margin-left: 100px;
}
.marginL-7 {
  margin-left: -35px;
}
.marginL-14 {
  margin-left: -70px;
}
.marginR1 {
  margin-right: 5px;
}
.marginR2 {
  margin-right: 10px;
}
.marginR3 {
  margin-right: 15px;
}
.marginR4 {
  margin-right: 20px;
}
.marginR5 {
  margin-right: 25px;
}
.marginR6 {
  margin-right: 30px;
}
.marginR7 {
  margin-right: 35px;
}
.marginRX {
  margin-right: 100px;
}
.marginT1 {
  margin-top: 5px;
}
.marginT2 {
  margin-top: 10px;
}
.marginT3 {
  margin-top: 15px;
}
.marginT4 {
  margin-top: 20px;
}
.marginT5 {
  margin-top: 25px;
}
.marginT6 {
  margin-top: 30px;
}
.marginT7 {
  margin-top: 35px;
}
.marginTX {
  margin-top: 100px;
}
.marginB1 {
  margin-bottom: 5px;
}
.marginB2 {
  margin-bottom: 10px;
}
.marginB3 {
  margin-bottom: 15px;
}
.marginB4 {
  margin-bottom: 20px;
}
.marginB5 {
  margin-bottom: 25px;
}
.marginB6 {
  margin-bottom: 30px;
}
.marginB7 {
  margin-bottom: 35px;
}
.marginBX {
  margin-bottom: 100px;
}
.marginV1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.marginV2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.marginV3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.marginV4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.marginV5 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.marginV6 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.marginV7 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.marginVX {
  margin-top: 100px;
  margin-bottom: 100px;
}
.marginH1 {
  margin-left: 5px;
  margin-right: 5px;
}
.marginH2 {
  margin-left: 10px;
  margin-right: 10px;
}
.marginH3 {
  margin-left: 15px;
  margin-right: 15px;
}
.marginH4 {
  margin-left: 20px;
  margin-right: 20px;
}
.marginH5 {
  margin-left: 25px;
  margin-right: 25px;
}
.marginH6 {
  margin-left: 30px;
  margin-right: 30px;
}
.marginH7 {
  margin-left: 35px;
  margin-right: 35px;
}
.marginHX {
  margin-left: 100px;
  margin-right: 100px;
}
.paddingL1 {
  padding-left: 5px;
}
.paddingL2 {
  padding-left: 10px;
}
.paddingL3 {
  padding-left: 15px;
}
.paddingL4 {
  padding-left: 20px;
}
.paddingL5 {
  padding-left: 25px;
}
.paddingL6 {
  padding-left: 30px;
}
.paddingL7 {
  padding-left: 35px;
}
.paddingLX {
  padding-left: 100px;
}
.paddingR1 {
  padding-right: 5px;
}
.paddingR2 {
  padding-right: 10px;
}
.paddingR3 {
  padding-right: 15px;
}
.paddingR4 {
  padding-right: 20px;
}
.paddingR5 {
  padding-right: 25px;
}
.paddingR6 {
  padding-right: 30px;
}
.paddingR7 {
  padding-right: 35px;
}
.paddingRX {
  padding-right: 100px;
}
.paddingT1 {
  padding-top: 5px;
}
.paddingT2 {
  padding-top: 10px;
}
.paddingT3 {
  padding-top: 15px;
}
.paddingT4 {
  padding-top: 20px;
}
.paddingT5 {
  padding-top: 25px;
}
.paddingT6 {
  padding-top: 30px;
}
.paddingT7 {
  padding-top: 35px;
}
.paddingTX {
  padding-top: 100px;
}
.paddingB1 {
  padding-bottom: 5px;
}
.paddingB2 {
  padding-bottom: 10px;
}
.paddingB3 {
  padding-bottom: 15px;
}
.paddingB4 {
  padding-bottom: 20px;
}
.paddingB5 {
  padding-bottom: 25px;
}
.paddingB6 {
  padding-bottom: 30px;
}
.paddingB7 {
  padding-bottom: 35px;
}
.paddingBX {
  padding-bottom: 100px;
}
.paddingV1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.paddingV2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.paddingV3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.paddingV4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingV5 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.paddingV6 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.paddingV7 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.paddingVX {
  padding-top: 100px;
  padding-bottom: 100px;
}
.paddingH1 {
  padding-left: 5px;
  padding-right: 5px;
}
.paddingH2 {
  padding-left: 10px;
  padding-right: 10px;
}
.paddingH3 {
  padding-left: 15px;
  padding-right: 15px;
}
.paddingH4 {
  padding-left: 20px;
  padding-right: 20px;
}
.paddingH5 {
  padding-left: 25px;
  padding-right: 25px;
}
.paddingH6 {
  padding-left: 30px;
  padding-right: 30px;
}
.paddingH7 {
  padding-left: 35px;
  padding-right: 35px;
}
.paddingHX {
  padding-left: 100px;
  padding-right: 100px;
}
.delete-padding-1 {
  margin-left: -15px;
}
.delete-padding-2 {
  margin-left: -30px;
}
.delete-padding-3 {
  margin-left: -45px;
}
/**************************************************************/
/**************** border ************************/
/**************************************************************/
.border1 {
  border: thin dashed black;
}
.cursor_pointer {
  cursor: pointer;
}
/*
**********************************************************
*******************  auto complete   *********************
**********************************************************
*/
.ac-container {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 999;
}
.ac-container .ac-menu {
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  background-color: white;
  -webkit-box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item {
  border-bottom: 0px dotted #ccc;
  line-height: 25px;
  margin: 0;
  padding: 0 20px;
}
.ac-container .ac-menu .ac-menu-item:last-child {
  border-bottom: 0;
}
.ac-container .ac-menu .ac-menu-item:hover {
  background-color: #e0eaff;
}
.ac-container .ac-menu a {
  padding-left: 5px;
  display: block;
  color: inherit;
  text-decoration: none;
}
.ac-container .ac-menu .ac-state-focus {
  outline: none;
  background-color: #e0eaff;
}
/*
**********************************************************
*******************  finance   ***************************
**********************************************************
*/
/*
* 从bootstrap.css中copy出。因为import不起作用
*/
/*
* 只有less才能把class作为内容引用，css不行（css只能设置属性）
*/
.tabBorder {
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
.content-border {
  border: 1px solid silver;
}
#configuration > span:hover,
#bill > span:hover {
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  cursor: pointer;
}
#configuration > span.activate,
#bill > span.activate {
  background: -moz-linear-gradient(#ffffff, #fdfdfd);
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  -webkit-box-shadow: 2px 0px 0px 0px silver;
          box-shadow: 2px 0px 0px 0px silver;
}
.activeQueryValue > span.fa {
  color: transparent;
}
.activeQueryValue:hover > span.fa {
  color: red;
}
/*    为了计算当前内容，以便决定footer的位置
*     直接使用col-lg-12，因为是float，无法获得内容的高度，所以新设no-float
*/
.col-lg-12-no-float,
.col-lg-4-no-float,
.col-md-12-no-float,
.col-sm-12-no-float,
.col-xs-12-no-float {
  width: 100%;
  padding: 0 15px;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
