.inputUnEditAbleBase {
  background: none ;
  outline: none ;
  border: 0px ;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  cursor: default;
}
.inputUnEditAble input {
  background: none ;
  outline: none ;
  border: 0px ;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  cursor: default;
}
.inputUnEditAble input:focus {
  background: none ;
  outline: none ;
  border: 0px ;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  cursor: default;
}
.inputUnEditAble textarea {
  background: none ;
  outline: none ;
  border: 0px ;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  cursor: default;
}
.inputUnEditAble textarea:focus {
  background: none ;
  outline: none ;
  border: 0px ;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  cursor: default;
}
.cursorPointer:hover {
  cursor: pointer;
}
.buttonDisable {
  background-color: #8cc0f7 !important;
  color: white !important;
}
.hidden {
  visibility: hidden;
}
.inputLabel-hidden label {
  visibility: hidden;
}
.noStarForRequire > label {
  content: '' !important;
}
.noStarForRequire > label:before {
  content: '' !important;
}
.inputLabelAlignLeft > label {
  text-align: left !important;
}
.inputLabelAlignLeft > label:before {
  text-align: left !important;
}
.inputNoLabelWidth > label {
  display: none !important;
}
.inputNoLabelWidth > div {
  margin-left: 0px !important;
}
.inputDisabled input {
  background-color: transparent !important;
  cursor: default !important;
}
/**   wangEditor  **/
.wangEditor-error-border {
  border: 1px solid #ed4014;
}
